{% load static %}
<!DOCTYPE html>
        <html lang="en">
            <head>
                
                <link rel="stylesheet" href="{% static 'tasks/styles.css' %}">
                <script src="main.js"></script>
                <title>Document</title>
            </head>
            <body>
                <h1> Add a Task </h1>
                <form action=' {% url "tasks:addtask" %}' method='post'> 
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit">
                </form>
                
                <a href=' {% url "tasks:index" %}'> Add a task </a>
            
            </body>
        </html> 